<div class="container">
    <h1>Sobre el comic</h1>
    <p>Los cómics de superhéroes son uno de los géneros más comunes de los cómics estadounidenses. El género saltó a la
        fama en la década de 1930 y se hizo extremadamente popular en la década de 1940 y ha seguido siendo la forma
        dominante de cómic en América del Norte desde la década de 1960. Los comics de superhéroes buscan la combinación
        de los valores y la búsqueda del bien preparan a los pequeños a ser creativos para solucionar situaciones
        variadas.</p>
    <div class="imgabout">
        <img src="../../assets/imagenes/img/about.jpg" alt="">
    </div>
</div>